ul {
  margin: 50px 0;
  padding: 0;
}

li {
  font-size: 20px;
  color: #70757a;
  list-style: none;
  padding: 0;
  margin: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.app-container {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  min-width: 440px;
  margin: 10px auto;
  border: 1px solid #70757a;
  padding: 20px 40px;
  border-radius: 10px;
}

.location-input-container {
  text-align: center;
  margin-top: 30px;
}

.search-icon {
  position: relative;
  left: 15px;
  bottom: -11px;
  color: #74c0fc;
  font-size: 20px;
}

#location-name {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 13px;
  color: #4d4d4d;
}

#date {
  font-size: 26px;
  text-align: center;
  font-weight: normal;
  margin-top: 50px;
  color: #4d4d4d;
}

.current-weather img {
  width: 120px;
  height: 120px;
}

.current-temperature {
  font-size: 70px;
}

.unit-buttons button {
  text-decoration: none;
  font-size: 20px;
  color: #4d4d4d;
}

.unit-buttons .degree-active {
  font-weight: bold;
  color: #333333;
  font-size: 22px;
}

.extended-forecast-tittle {
  font-size: 20px;
  color: #70757a;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 10px;
}

.extended-forecast {
  font-size: 19px;
}

.extended-forecast img {
  width: 90px;
  vertical-align: middle;
}

.extended-forecast .row {
  border-top: 1px solid #74c0fc;
  line-height: 4.2;
}

.extended-forecast .column-temp {
  text-align: right;
  font-size: 20px;
  line-height: 4.2;
}

.extended-forecast-temp-min {
  color: #70757a;
}

.footer {
  text-align: center;
  margin: 20px auto;
}

#search-input {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #74c0fc;
  background-color: rgb(116, 192, 252, 0.1);
}

#submit-button {
  border-radius: 10px;
  border: 1px solid #74c0fc;
  background-color: rgb(116, 192, 252, 0.1);
  color: #70757a;
  padding: 7px;
}
